* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  background-color: rgb(207, 223, 236);
  padding: 1em;
}

h1,
h3 {
  text-align: center;
  margin-bottom: 0.2em;
}

.user-grid {
  margin-top: 3em;
}
.user-card {
  background-color: white;
  width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 1em;
  border-radius: 7px;
  padding: 1em;
  box-shadow: 0px 0px 10px gray;
}

.image-container {
  width: 30%;
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media only screen and (min-width: 500px) {
  .user-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 3em;
    grid-gap: 0.4em;
    margin-top: 1em;
  }
}
