* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
}
/* form styles */
.form {
  display: block;
  margin: auto;
  margin-top: 3em;

  width: 90%;
}
.form-control {
  width: 100%;
}

.form-control label {
  display: inline-block;
  width: 5.5em;
  color: white;
}

.form-control label:after {
  content: "*";
}

.form-control input {
  width: 60%;
  height: 2em;
  margin: 0.5em;
  border: 2px solid;
  border-radius: 30px;
  padding-left: 0.2em;
}

.form-control input:focus {
  outline: none;
  box-shadow: 0 0 0 3px red;
}

p[id*="validationMessageFor"] {
  color: red;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#btn-exercise3 {
  background-color: rgb(240, 248, 255);
  height: 3em;
  margin-top: 1em;
  border: 2px solid;
  border-radius: 30px;
  color: rgb(77, 72, 72);
  width: 90%;
}
#btn-exercise3:focus {
  box-shadow: 0 0 0 5px rgb(19, 74, 92);
  outline: none;
}

#circle {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 30px;
  margin-top: 5px;
  shape-outside: circle();
  clip-path: circle();
  background: rgb(19, 74, 92);
  display: flex;
  justify-content: center;
  align-items: center;
}

h4#userItemHd {
  color: aliceblue;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

.userItem {
  color: aliceblue;
  margin-bottom: 1em;
  margin-top: 0em;
}

.userItem a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}
.userItem a:hover {
  color: rgb(19, 74, 92);
}
