* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
}
/* form styles */
.form {
  display: block;
  margin: auto;
  margin-top: 3em;

  width: 90%;
}
.form-control {
  width: 100%;
}

.form-control label {
  display: inline-block;
  width: 5.5em;
  color: white;
}

.form-control label:after {
  content: "*";
}

.form-control input {
  width: 60%;
  height: 2em;
  margin: 0.5em;
  border: 2px solid;
  border-radius: 30px;
}
