.Exercise4-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  padding: 5em 2em;
}

#Exercise4-header {
  text-align: center;
  margin-bottom: 5em;
}
#Exercise4-weather {
  display: flex;
  justify-content: space-between;
}
#Exercise4-weatherCard1 {
  padding-top: 3.5em;
}
.Exercise4-weatherCard1 {
  display: flex;
  margin-bottom: 1.3em;
}
.Exercise4-weatherCard1-icon {
  width: 5em;
  margin-right: 1em;
}

.Exercise4-button {
  background-color: rgb(46, 44, 44);
  font-size: large;
  width: auto;
  padding: 0.5em 3em;
  border-radius: 10px;
  margin-bottom: 2em;
  color: white;
}
.Exercise4-line {
  border: 0.3px solid rgb(184, 178, 178);
  width: 0.1px;
  height: auto;
}

.Exercise4-weatherCard2 {
  text-align: center;
  padding-right: 2em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 700px) {
  .Exercise4-container {
    display: flex;
    justify-content: space-around;
  }

  #Exercise4-header h1 {
    font-size: 5em;
  }

  #Exercise4-weatherCard1 {
    margin-right: 2em;
  }
  #Exercise4-weatherCard2 {
    margin-left: 2em;
  }
}
