/* Pageheader component styles */
.ex2-center {
  margin: auto;
  display: block;
  width: 15em;
  text-align: center;
}

.Exercise2-container {
  padding: 1em;
  background-color: white;
}

.Exercise2-button {
  width: 20em;
  margin: auto;
  display: block;
  padding: 0.5em;
  cursor: pointer;
  background-color: #0dc5c1;
  color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 10px gray;
}

.ex2-input {
  width: 20em;
  padding: 0.5em;
  border-radius: 7px;
  display: block;
  margin: auto;
  margin-bottom: 0.1em;
}
.p-error {
  color: red;
  font-size: small;
  text-align: center;
}

.user-grid {
  margin-top: 3em;
}

/* GithubUserCard compponent styles */
.user-card {
  background-color: white;
  width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 1em;
  border-radius: 7px;
  padding: 1em;
  box-shadow: 0px 0px 10px gray;
}
.ex2-gitUsers-con h1 {
  text-align: center;
}
.image-container {
  width: 30%;
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/* loadinganimation component styles */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* UserInput component styles */
.form {
  margin: 2em 0px;
}

@media only screen and (min-width: 900px) {
  .user-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 3em;
    grid-gap: 0.4em;
    margin-top: 1em;
  }
}
