.home-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-grey-1);
  display: grid;
}

.home-container header {
  width: 100vw;
  height: 30vh;
  color: var(--clr-react);
  text-align: center;
  letter-spacing: var(--spacing);
  background-color: rgb(20, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home-container header::after,
.home-container header::before {
  margin: none;
  padding: none;
}

.home-container h2 {
  text-align: center;
  letter-spacing: var(--spacing);
  margin: 0px;
  margin-top: 2em;
  margin-bottom: 0px;
}

#home-half-border {
  border-top: 5px solid var(--clr-react);
  width: 5em;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 2em;
}

.exercise-card {
  width: 80%;
  box-shadow: var(--dark-shadow);
  padding: 0px;
  margin: auto;
  margin-bottom: 2.5em;
  border-radius: 15px;
  height: 40vh;
  text-decoration: none;
}

.exercise-card-img-container {
  height: 70%;
  min-width: 100%;
  margin: none;
}

.exercise-card-img-container img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.exercise-card-title-container {
  height: 30%;
  min-width: 100%;
  margin: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 30%;
}
.adv-link-container a {
  text-decoration: none;
  color: blue;
}

.adv-link-container a:hover {
  color: var(--clr-grey-7);
}

/* footer styles */
footer {
  background-color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
footer p {
  text-align: center;
}

footer > p a {
  color: gray;
  text-decoration: none;
}

footer > p a:hover {
  color: blue;
}
footer > div a {
  color: black;
}
footer > div a:hover {
  color: rgb(87, 83, 83);
}

@media only screen and (min-width: 700px) {
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;
  }

  .exercise-card {
    width: 30%;
  }

  /* footer styles */
  footer i {
    font-size: 2em;
    margin: 0px 0.5em;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em;
  }
}
