.home-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-grey-1);
  display: grid;
}

.home-container header {
  width: 100vw;
  height: 30vh;
  color: var(--clr-react);
  text-align: center;
  letter-spacing: var(--spacing);
  background-color: rgb(20, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home-container header::after,
.home-container header::before {
  margin: none;
  padding: none;
}

.home-container h2 {
  text-align: center;
  letter-spacing: var(--spacing);
  margin: 0px;
  margin-top: 2em;
  margin-bottom: 0px;
}

#home-half-border {
  border-top: 5px solid var(--clr-react);
  width: 5em;
  margin: auto;
  margin-top: 7px;
  margin-bottom: 2em;
}

.exercise-card {
  width: 80%;
  box-shadow: var(--dark-shadow);
  padding: 0px;
  margin: auto;
  margin-bottom: 2.5em;
  border-radius: 15px;
  height: 40vh;
}

.exercise-card-img-container {
  height: 70%;
  min-width: 100%;
  margin: none;
}

.exercise-card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.exercise-card-title-container {
  height: 30%;
  min-width: 100%;
  margin: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
